.flex-container{
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.flex-container div{
    background-color: brown;
    margin: 10px;
    padding: 10px;
}