body {
    background-color: #1560a1; /* Cor do fundo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    margin-top: 20px;
    font-size: 18px;
}